img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

span{
    color: blue;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}